pandas>=1.1.5
scikit-learn==1.0.2
xgboost
matplotlib 
mlflow
hyperopt
dataclasses==0.6
Flask~=2.0.1
requests~=2.26.0
pyyaml~=5.4.1
tqdm
pyarrow
prefect==2.0b8
pymongo
evidently
pipenv
psutil==5.9.1
gunicorn